<h1>Moview Reviews:</h1>

<p>I honestly don't understand the criticism levelled at this film. Most of Pixars predecessors come highly recommended but this received mixed reviews. I think that this is because Pixar made a movie for a different audience. This is a film made for kids, and made for kids to enjoy with parents. Previous Pixar outings had nods to an adult audience. This didn't and I think that is why it has so much criticism levelled at it...unjustly if I may add. There are so many amazing things about this film.</p>

<%= link_to 'Back to Movie', root_path %>